.active {
    position: relative;
}

.active::before {
    content: "";
    display: block;
    background-color: rgb(2 132 199);
    height: 80%;
    width: 6px;
    position: absolute;
    left: 0;
    top: 23%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

@media screen and (max-width: 1025px) {
    .active::before {

        top: 14%;

    }
}